/node_modules
# /public/hot
# /public/storage
# /public/js
# /public/css
# /public/fonts
# /public/images
# /public/product_image
# /public/restaurant_banner
# /public/restaurant_logo
# /public/restaurant_uploads
# /public/uploads
# /public/vehicles
# /public/category_image
# /public/page_files
# /public/pages

# /public/tag_image


/storage/*.key
# /vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
/public/.htaccess

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

!.vscode/*.code-snippets

# script
/vuexy-scripts

# Docs
# /docs
# /resources/css/
# /resources/scss/
# /resources/js/
# /resources/lang/