# --------------------------------
# Laravel Ignored Files & Folders
# --------------------------------
/vendor/
/storage/*.key
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php

.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
supervisord.log
supervisord.pid

/public/.htaccess

# Uncomment if not versioning built assets
/public/js/
# /public/css/
# /public/fonts/
# /public/images/
# /public/product_image/
# /public/restaurant_banner/
# /public/restaurant_logo/
# /public/restaurant_uploads/
# /public/uploads/
# /public/vehicles/
# /public/category_image/
/public/page_files/
/public/pages/
/public/tag_image/
/public/storage/
/public/build/
/public/mix-manifest.json

# --------------------------------
# Vue.js & Frontend Tools
# --------------------------------
/node_modules/
/dist/
/.vuexy-scripts

# Vite / Webpack
.vite/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env.local
.env.*.local

# --------------------------------
# IDEs / Editors
# --------------------------------
.idea/
/.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Keep useful vscode snippets
!.vscode/*.code-snippets

# OS files
.DS_Store
Thumbs.db

/docs/
